<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version ="v4.0" sku=". NETFramework,Version=v4.7.2"/>
    <!-- for further info regarding supportedRuntime: https://learn.microsoft.com/en-us/dotnet/framework/configure-apps/file-schema/startup/supportedruntime-element#sku-->
  </startup>
  <appSettings>
    <add key="csgoInstallDir" value="C:\SteamLibrary\steamapps\common\Counter-Strike Global Offensive" />
  </appSettings>
</configuration>